﻿@model CiklumTestApp.Models.Photo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>
        @Html.DisplayFor(model => model.Name)
        <small>
            @Html.DisplayFor(model => model.UploadDate)
        </small>
    </h3>
</div>
<p>
    @Html.ActionLink("Back to Main", "Index")
</p>

<div>
    @if (Model != null)
    {
        <img class="img-thumbnail img-responsive" src="@Model.PhotoPath" />
    }
    else
    {<h1>Photo not found</h1>  }
</div>
