﻿@model CiklumTestApp.Models.GalleryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="page-header">
        <h3>All photos</h3>
    </div>
    <div class="row">
        @foreach (var i in Model.Photos)
        {
            <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                <a href="@Url.Action("Details", "Photo", new { id = i.Id })" class="thumbnail">
                    <img src="@i.ThumbnailsPath" />
                </a>
            </div>

        }
    </div>
    @if (Model.Pagination.TotalPages > 1)
    {
        <nav>
            <ul class="pagination pagination-sm">
                @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                {
                    <li class=@(i == Model.Pagination.CurrentPage ? "active" : "")>
                        @Html.ActionLink(i.ToString(), "Index", "Photo", new { page = i }, null)
                    </li>
                }
            </ul>
        </nav>
        <hr />
    }
</div>

