﻿@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h3>Upload photo</h3>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert  alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Message
    </div>
}
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.Label("Name")
                <input type="text" name="name" class="form-control" /><span class="text-danger">@ViewBag.NameError</span>
            </div>
            <div class="form-group">
                @Html.Label("Photo")
                <input type="file" name="uploadImage" class="form-control" accept=".png, .jpg" /><span class="text-danger">@ViewBag.PhotoError</span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        }
    </div>
</div>